@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $violet;
}

h1 {
  letter-spacing: 3px;
  font-family: 'Roboto',
    sans-serif;
}

.editor {
  height: 50em;
  display: flex;
  align-items: center;
  justify-content: center
}

.editor__box {
  display: block;
  position: relative;
  color: white;
  font-family: Arial,
    sans-serif;
}

.text__box,
.text__box--js {
  height: 250px;
  width: 450px;
  margin-bottom: 20px;
  border-radius: 15px;
  resize: none;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 0px;
}


// BUTTON
/* Buttons styles LOAD */

.button,
.button__js {
  display: flex;
  position: absolute;
  margin-left: 100px;
  margin-top: -115px;
}

.button__load,
.button__load--js {
  display: inline-block;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  margin: 0 30px 0 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button__load,
.button__load--js:hover,
button:focus {
  background: #0053ba;
}

.button__load,
.button__load--js:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button__load,
.button__load--js:active {
  transform: scale(0.99);
}

/* Buttons styles SAVE */

.button__save,
.button__save--js {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #1dd1a1;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button__save,
.button__save--js:hover,
button:focus {
  background: #10ac84;
}

.button__save,
.button__save--js:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button__save,
.button__save--js:active {
  transform: scale(0.99);
}

/* Button styles end */